Host bastion
    User root
    HostName lpm-bastion.feri.um.si

Host gateway builder grades spum-platform spum-mqtt spum-docker-registry ps esp usatour calendar
    User root
    HostName %h
    ProxyJump bastion
