Host *
    UserKnownHostsFile /home/ziga/Development/projects/server/machines/known_hosts/known_hosts

Host bastion
    User root
    HostName lpm-bastion.feri.um.si

Host gateway
    User root
    HostName gateway
    ProxyJump bastion

Host builder
    User root
    HostName builder
    ProxyJump bastion

Host grades
    User root
    HostName grades
    ProxyJump bastion

Host spum-platform
    User root
    HostName spum-platform
    ProxyJump bastion

Host spum-mqtt
    User root
    HostName spum-mqtt
    ProxyJump bastion

Host spum-docker-registry
    User root
    HostName spum-docker-registry
    ProxyJump bastion
